<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset your Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="{% url 'board_app:home' %}" class="breadcrumb white-text">Boards</a>
        </div>
    </div>
</nav>
<div style="padding:20px"></div>
<div class="row">
    <div class="col s3"></div>
    <div class="col s6 m6">
        <div class="card">
            <div class="card-content center">
                <span class="card-title">Sucess!!</span>
                <p>You have successfully changed your password</p><br>
                <p>You may now proceed to log in.</p>
                <div style="padding:10px"></div>
                <a class="waves-effect waves-light btn blue" href="{% url 'user_accounts_app:login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
