<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav>
    <div class="nav-wrapper black">
        <div class="col s12">
            <a href="{% url 'board_app:home' %}" class="breadcrumb white-text">Boards</a>
        </div>
    </div>
</nav>
<div style="padding:20px"></div>
<div class="row">
    <div class="col s3 hide-on-small-only"></div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content center">
                {% if validlink %}
                <form method="POST">
                    <span class="card-title">Hi {{ form.user.username }}, you can now change your password.</span>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="input-field">
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="red-text">{{ field.errors }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn waves-effect waves-light blue darken-5" type="submit" name="action">Submit</button>
                </form>
                {% else %}
                <span class="card-title">Reset your password</span>
                <div class="card-panel red lighten-2">
                    <span class="white-text">It looks like you clicked on an invalid password reset link. Please try again.</span>
                    <div class="center" style="padding-top:10px">
                        <a href="{% url 'user_accounts_app:password_reset' %}" style="color:yellow">Request a new password reset link.</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>