coverage==4.5.2
Django==2.1.5
django-user-agents==0.3.2
docutils==0.14
flake8==3.5.0
future==0.16.0
gunicorn==19.8.1
gym==0.10.5
Markdown==3.0.1
MarkupSafe==1.0
psycopg2==2.7.4
requests==2.19.1
urllib3==1.23
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.14.1
whitenoise==4.1.2
django_heroku